*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

ul{
    list-style: none;
    margin: 0%;
    display: block;

}
a{
    text-decoration: none;
}
/* HEADER*/
.logo-header{
    margin: 5px;
}

header{
    background-color: #3b2f3d;
    
/* HEADER SEARCH*/    
}
.search{
    align-items: center;
    text-align: center;
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    
   

}

.search-txt-btn{

    display: flex;
    justify-content: space-between;

}

.search-btn{
    cursor: pointer;
    background: none;
    border: none;
    
}
.search-btn:hover{
    opacity: 0.5;
    transition: 0.2s;

}

.search-txt{
    background: none;
    border: none;
    color: white;
    width: 20vw;
}

a {
    color: white;
    text-decoration: none;
}

/* HEADER NAVBAR*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;


}
main{
    background-size: cover;
    height: 92vh;

}
.nav-list{
    list-style: none;
    display: inline-flex
    

}

.nav-list li{
    letter-spacing: 3px;
    margin-right: 40px;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
}

.mobile-menu div {
    width: 32px;
    height: 3px;
    background: #56d366;
    margin: 8px;

}
.mobile-menu{
    cursor: pointer;
    display: none;
}

@media (max-width: 999px){
    body {
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 30vw;
        height: 92vh;
        flex-direction: column;
        background: #3b2f3d;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
        z-index: 10;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    
}
.nav-list.active {
    transform: translateX(0);
    background-color: #3b2f3d;
    
    
}

@keyframes navLinkFade {
    from{

        opacity: 0;
        transform: translateX(50px);

    }

    to{

        opacity: 1;
        transform: translateX(0);
    }
    
}

 
/* FOOTER*/

footer{
    background-color: #3b2f3d;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 5px solid white;
    text-align: center;  
    align-items: center;
    border: 0;
}

footer h2, footer p, footer a, footer span{
    color: white;
}

footer h2{
    font-weight: 400;
    color: #56d366;
}

footer ul{
    padding: 0;
}

.footer-box {
    width: 31%;
    padding: 0%;
    float: left ;
}
footer .wrapper::after{
    width: 80%;

}
.company-footer h2, .company-footer p{
    margin-bottom: 20px;
}
.footer-list li{
    margin-bottom: 15px;
}
.footer-list a{
    translate: .5s;
}
.footer-list a:hover {
    color: rgb(86, 211, 102);
}
.footer-list li:after{
    clear:both;
    content: "";
    display: block;
}
.articles-footer{
    width: 80%;
}
.footer-list.footer-article-list span{
    display: block;
    float: none;
}
.redes li{
    display: inline-block;
    margin: 5px;
}
.footer-list li span{
    float: left;
    height: 30px;
    line-height: 30px;
}
.footer-bottom{
    border-top: 1px solid #3b2f3d;
    margin: 0;
}

.footer-bottom p{
    font-weight: 600;
    margin-top: 20px;
}
.wrapper{
    display: inline-block;
}

/* CSS LOGIN */

.g-recaptcha{

    text-align: center;
    justify-content: center;
    display: flex;

}


.form-login{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.253);
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;

}
.form-login input{
    margin: 10px 10px;
    width: calc(100% - 20px);
}
.input-digit{

    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
}

.input-submit{

    width: 100%;
    height: 30px;
    cursor: pointer;
    background-image: url(img/fruit\ vita\ background\ login.png);
    background-color: #368F8B;
    color: white;
    border: 0;
    border-radius: 10px;
    
}


.input-nome-sobrenome{

    display: flex;
    justify-content: space-between;

}
.form-senha-confirm{
    display: flex;
    justify-content: space-around;
}

.input-nascimento{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin: 10px 0;
    margin: 10px 10px;
    width: calc(100% - 20px);
   
}
.input-nascimento input{
    border: none;
    color: rgb(114, 114, 114);
}

.input-nascimento p{
    color: rgb(134, 134, 134);
    font-size: 13px;
    margin: 0%;
   
}

.politicapriv {
    display: flex;
    align-items: center;
    text-align: center;
}
.politicapriv input{
    width: 3%;
}
.politicapriv p a{
    color: #56d366;
}
.politicapriv p a:hover{
    color: #368F8B;
   transition: 0.2s;
   opacity: 0.9;
}

.termosuso {
    display: flex;
    align-items: center;
    text-align: center;
}
.termosuso input{
    width: 3%;
}
.termosuso p a{
    color: #56d366;
}
.termosuso p a:hover{
   color: #368F8B;
   transition: 0.2s;
   opacity: 0.9;
}


.input-submit:hover{
   background-color: #160F29;
   transition: 0.5s;
   opacity: 0.7;
}

.link{
    color: rgba(37, 37, 37, 0.603);
    text-decoration: none;
    
}

.link:hover{
color: #ccc  ;
}



/*SLIDER*/


.slideshow-container {
    max-width: 100vw;
    position: relative;
    margin: auto;
  }
    
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -60px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    
    opacity: 0.5;
  }
  
  /* Caption text */
  .dot-box {

  position: absolute;
  text-align: center;
  margin-top: -30px;
  align-items: center;
  width: 100%;
  }
  

  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
    
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


